*{
	padding: 0;
	margin: 0;
}
ul,li{
	list-style: none;
}





.timeline{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border: 1px solid #bbb;
	padding: 10px;
	width: 60%;
	height: 100px;
}
.timebtns{
	overflow: hidden;
}
.timebtns li{
	float: left;
	width: 80px;
	border: 1px solid #ccc;
	text-align: center;
	font-size: 14px;
	line-height: 20px;
	cursor: pointer;
}
.timebtns li.active{
	background-color: #ccc;
	color: #fff;
}
.axisleft,.axisright{
	position: absolute;
	z-index: 3;
	top: 30%;
	width: 20px;
	height: 20px;
	border: 1px solid #ccc;
	color: #666;
	line-height: 18px;
	cursor: pointer;
}
.axisleft{
	left: 10px;
	text-align: center;
}
.axisright{
	right: 10px;
	text-align: center;
}

.timelimitbox{
	background-color: #eee;
	position: absolute;
	left: 10px;
	bottom: 0;
	overflow: hidden;
}
.timeareabox{
	position: absolute;
	left: 104px;
	bottom: 11px;
	width: 200px;
	height: 30px;
	background-color: rgba(0,0,0,0.4);
	cursor: move;
}
.timecontent{
	position: relative;
}
.canvastimeline{
	position: absolute;
	left: 0;
	bottom: 0;
}
.startline,.endline{
	position: absolute;
	top: 0;
	width: 20px;
	height: 100%;
	background-color: darkgray;
}
.startline{
	left: 0;
	cursor: w-resize;
}
.endline{
	right: 0;
	cursor: e-resize;
}